# -*- mode: gitignore; --

# Private file (may contain ssh keys or environment specific settings)
private.el

# Keep gitignore file
!.gitignore

# Undo-tree save-files
*.~undo-tree

# Packaging
.cask

# Dired
image-dired/

# Browers cache
url/

# Dashboard files
recentf
projectile.cache
projectile-bookmarks.eld

# IDO
ido.last

# Backup files
*~
\#*\#
.\#*
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
cache/
bookmarks

# DS_Store
.DS_Store

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
dist/

# Flycheck
flycheck_*.el

# server auth directory
/server/
network-security.data

# projectiles files
.projectile

# directory configuration
.dir-locals.el

# Packages installed & byte-compiled by elpa
/elpa/

# Custom
vim.exe.stackdump
/transient
/anaconda-mode
company-statistics-cache.el
